@model Web_Coffee.Models.NhanVien

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Share/_StaffLayout.cshtml";
}

<h2>Xóa Nhân Viên</h2>

<h3>Bạn đã chắc chắn muốn xóa?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTenNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTenNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChiNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChiNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GmaiNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GmaiNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SdtNV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SdtNV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNguoiDung)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về", "DSNhanVien",null,new {@class="btn btn-dark"})
        </div>
    }
</div>
